{% extends "base.html" %}

{% block content %}
<section class="artwork-summary mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="animate-from-left">Your Account.</h1>
            </div>
        </div>
    </div>
</section>

<!-- Your Account Info -->
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <p><strong>You are logged in as:</strong> {{ user.username }}</p>
            <p><strong>Your Email:</strong> {{ user.email }}</p>
        </div>
    </div>
</div>

<!-- Saved Artwork -->
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h2>Saved Artwork</h2>
            <div class="row artwork-collection">
                {% for artwork in user.saved_artworks.all %}
                    <div class="col-md-3">
                        <div class="artwork-entry">
                            <a href="{{ artwork.get_absolute_url }}">
                                <img src="{{ artwork.image.url }}" alt="{{ artwork.title }}" class="img-thumbnail">
                                <p class="collection-title">{{ artwork.title }}</p>
                            </a>
                            <button class="btn btn-danger remove-artwork" data-artwork-id="{{ artwork.id }}">Remove</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div id="delete-success-message" style="display: none; color: rgb(48, 107, 174);">Artwork successfully removed!</div>
        </div>
    </div>
</div>

<script>
    // Handle the "remove artwork" click
    $(document).ready(function () {
        $(".remove-artwork").click(function () {
            var confirmDelete = window.confirm("Are you sure you want to delete this saved artwork?");

            if (confirmDelete) {
                var artworkId = $(this).data("artwork-id");
                var url = "/remove-artwork/" + artworkId + "/";

                var button = $(this);

                $.get(url, function (data) {
                    if (data.saved === false) {
                        button.parent().remove();

                        $("#delete-success-message").show();

                        setTimeout(function () {
                            $("#delete-success-message").hide();
                        }, 3000);
                    }
                });
            }
        });
    });
</script>



{% endblock %}

