body {
  font-family: Poppins, sans-serif;
}

.artwork-summary {
  background-color:rgba(67, 64, 64, 0.482);
  margin: 20px;
  text-align: center;
  color: white;
}


/* Index Page */
.image-container {
  position: relative;
  width: 100%;
  text-align: center;
}

#main-image {
  width: 100%;
  height: auto;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(67, 64, 64, 0.671);
  color: white;
  padding: 30px;
  width: 100%;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: normal;
}

p {
  font-size: 14px;
  font-weight: normal;
}

#gallery-button {
  position: absolute;
  bottom: 72%; 
  left: 50%;  
  transform: translateX(-50%); 
  z-index: 1; 
}

/* Media queries for smaller screens */
@media (max-width: 992px) {
  #gallery-button {
    bottom: 60%;
  }
}

@media (max-width: 768px) {
  #gallery-button {
    bottom: 40%;
  }
}

@media (max-width: 576px) {
  #gallery-button {
    bottom: -20%;
    padding-bottom: 15px
}
}


/* Page Banner  */
.artwork-summary h1 {
  font-size: 36px;
  font-weight: 700;
  padding: 15px;
}

.artwork-summary h2{
  font-weight: 400;
  font-size:24;
  padding-bottom: 10px;

}

.artwork-summary p {
  font-size: 18px;
  font-weight:300
}

.artwork-container {
  margin-top: 20px;
}
 
.animate-from-left {
    animation: slideInFromLeft 1s ease both;
}

@keyframes slideInFromLeft {
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
  }


/* Artwork card */
.art-card {
  height: 400px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding:15px;
  text-align: center;
}
.art-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Thumbnail images */
.art-thumbnail {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

/* Modal */
#artwork_information {
  margin: 0 auto;
}

.custom-artwork-modal .modal-dialog {
  max-width: 900px;
  max-height: 80vh; 
  margin: 10% auto; 
}

.custom-artwork-modal .modal-content {
  background-color: rgba(249, 249, 249, 0.9); 
  border-radius: 5px;
}

.custom-artwork-modal .modal-title {
  display: none; 
}

.custom-artwork-modal .modal-body {
  text-align: center;
  margin:0 auto;
  padding-bottom: 20px
}

.custom-artwork-modal #artworkImage {
  max-width: 100%; 
  max-height: 100%; 
  display: block; 
  margin: 0 auto;
  padding-bottom: 20px;
}
.custom-artwork-modal #artworkTitle {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  color: #333;
}

.custom-artwork-modal .medium-description {
  font-size: 16px;
  margin-top: 10px;
  color: #555;
}

.custom-artwork-modal #artworkDetailLink {
  margin:auto;
  background-color: #1c5da49f;
  color: #fff;
  text-align: center;
  display: block;
  border: none;
  padding: 5px;
  text-decoration: none;
  max-width: 200px
}

.custom-artwork-modal .modal-header {
  border: none; 
}

.custom-artwork-modal .close {
  font-size: 15px;
  color: #b1b1b1df;

}

/* Overlay and Hover on Artwork */
.art-card {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); 
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none; 
  transition: background-color 0.3s; 
}

.art-card:hover .overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.overlay p {
  font-size: 16px;
  margin: 0;
  color: transparent; 
  transition: color 0.3s; 
}

.art-card:hover .overlay p {
  color: #fff; 
}

.search-form {
  margin-right: 20px; 
}


/* Search Bar */
#search_bar {
  padding:  20px;
}

input[type="text"] {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width:500px
}

button[type="submit"] {
  background-color: #6a819a;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

/* Artwork Description */
.artwork-image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%; 
  max-height: 500px; 
  padding-right: 20px;
}

.artwork-image img {
  max-width: 100%; 
  max-height: 100%; 
  width: auto;
}

#right-column {
  padding: 20px;
  background-color: rgba(161, 196, 192, 0.26);
}

#left-column {
  padding-top: 15px;
}

.image-slide-in {
  transform: translateX(-100%); 
  animation: slideIn 1s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%); 
  }
  to {
    transform: translateX(0); 
  }
}

.fade-in {
  opacity: 0; 
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/*sign-up*/
.signup-form {
    max-width: 300px;
    margin: 0 auto;
}

.signup-form input[type="text"],
.signup-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-button:hover {
    background-color: #45a049;
}


/* About */
.artwork-summary h1 {
  font-size: 36px;
  font-weight: bold;
}

.container p {
  font-size: 18px;
  color: #333;
  font-size: 93%
}
#about-me {
  padding: 15px;
  background-color:#b9b9b942;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
#join-community-button{
  padding: 15px;
  text-align: center;
}

.btn-primary {
  background-color: #6a819a;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #666b6f;
}

/* User Collection */
.artwork-collection {
  display: flex;
  flex-wrap: wrap;
}

.artwork-entry {
  margin: 10px;
}

.collection-image {
  max-width: 100px;
}

.collection-title {
  text-align: center;
}

/* Logout */
#logout-button {
  padding-bottom: 20px;
}