{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container my-4">
    <a href="{% url 'gallery' %}">⬅ Back to Gallery</a>
    <div class="row">
        <div class="col-md-6 d-flex align-items-center justify-content-center" id="left-column">
            <img src="{{ artwork.image.url }}" class="img-fluid rounded artwork-image image-slide-in artwork-image-centered" alt="{{ artwork.title }}">
        </div>
        <div class="col-md-6 mt-4 fade-in" id="right-column">
            <h3>{{ artwork.title }}</h3><br>
            <p><strong>Artist:</strong> {{ artwork.artist }}</p>
            <p><strong>Medium:</strong> {{ artwork.medium }}</p>
            <p><strong>Size:</strong> {{ artwork.size }}</p>
            <p><strong>Year:</strong> {{ artwork.year_created }}</p>
            <p><strong>Sold:</strong> {{ artwork.sold }}</p>
            <p><strong>Description:</strong> {{ artwork.description }}</p>
            {% if user.is_authenticated %}
                <div class="text-center mt-4">
                    <a href="#" class="btn btn-primary save-artwork" data-artwork-id="{{ artwork.id }}">
                        <i class="far fa-heart"></i> Save to Collection
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="container">
    <!-- Display existing comments -->
    <div class="mt-4">
        {% for comment in comments %}
            {% if comment.approved %}
                <div class="card mb-3">
                    <div class="card-header d-flex justify-content-between align-items-center" style="color:rgb(53, 53, 159)">
                        <strong>{{ comment.user.username }}</strong>
                        {% if user.is_authenticated and user == comment.user %}
                            <a href="{% url 'delete_comment' comment.id %}" class="btn btn-sm btn-danger">Delete</a>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ comment.body }}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    

    <!-- Comment form -->
    {% if user.is_authenticated %}
    <div class="mt-4">
        <form method="post" action="{% url 'artwork-detail' artwork.slug %}" id="comment-form">
            {% csrf_token %}
            <input type="hidden" name="user" value="{{ user.username }}">
            <div class="form-group">
                {{ comment_form.body }}
            </div>
            <p>Posting as: {{ user.username }}</p>
            <button type="submit" class="btn btn-primary">Write a Comment</button>
        </form>
    </div>
    {% endif %}
</div>



<script>

    $(document).ready(function() {
        $(".save-artwork").click(function(e) {
            e.preventDefault();
            var artworkId = $(this).data("artwork-id");
            var url = "/save-artwork/" + artworkId + "/";
            var icon = $(this);

            $.get(url, function(data) {
                if (data.saved) {
                    icon.html('<i class="fas fa-heart"></i> Saved to Collection');
                } else {
                    icon.html('<i class="far fa-heart"></i> Save to Collection');
                }
            });
        });
    });

</script>


{% endblock %}