{% extends "base.html" %}

{% block content %}

<div class="container my-4">
    <a href="{% url 'gallery' %}">⬅ Back to Gallery</a>
    <div class="row">
        <div class="col-md-6 d-flex align-items-center justify-content-center" id="left-column">
            <img src="{{ artwork.image.url }}" class="img-fluid rounded artwork-image image-slide-in artwork-image-centered" alt="{{ artwork.title }}">
        </div>
        <div class="col-md-6 mt-4 fade-in" id="right-column">
            <h3>{{ artwork.title }}</h3><br>
            <p><strong>Artist:</strong> {{ artwork.artist }}</p>
            <p><strong>Medium:</strong> {{ artwork.medium }}</p>
            <p><strong>Size:</strong> {{ artwork.size }}</p>
            <p><strong>Year:</strong> {{ artwork.year_created }}</p>
            <p><strong>Sold:</strong> {{ artwork.sold }}</p>
            <p><strong>Description:</strong> {{ artwork.description }}</p>
        </div>
    </div>
</div>

{% if user.is_authenticated %}
<div class="text-center mt-4">
    <a href="#" class="btn btn-primary save-artwork" data-artwork-id="{{ artwork.id }}">
        <i class="far fa-heart"></i> Save to Collection
    </a>
</div>
{% endif %}


{% endblock %}