{% extends "base.html" %}
{% block content %}

<section class="artwork-summary mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="animate-from-left">Contact.</h1>
            </div>
        </div>
    </div>
</section>

<section class="contact-form mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Have questions or want to get in touch? Send us a message using the form below.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form action="{% url 'contact' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p id="success-message" style="color: rgb(48, 107, 174);">
                        {% for message in messages %}
                            {% if 'contact-form' in message.tags %}
                                {{ message }}
                            {% endif %}
                        {% endfor %}
                    </p>
                    
                    
                    
                    <button type="submit" class="btn btn-primary">Send Message</button>
                </form>
                
                
            </div>
        </div>
    </div>
</section>


{% endblock %}