{% extends "base.html" %}

{% block content %}
<section class="artwork-summary mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="animate-from-left">Gallery.</h1>
            </div>
            <div class="col-md-6 d-flex justify-content-end" id="search_bar">
                <form class="search-form" id="search-form" method="GET" action="{% url 'search' %}">
                    <input type="text" name="q" placeholder="Search...">
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 artwork-container">
            <div class="row">
                {% for artwork in artworks %}
                <div class="col-md-3 mb-3">
                    <div class="art-card">
                        <a href="#" class="art-thumbnail" data-toggle="modal" data-target="#artworkModal"
                            data-artist="{{ artwork.artist }}"
                            data-title="{{ artwork.title }}"
                            data-medium="{{ artwork.medium }}"
                            data-description="{{ artwork.description }}"
                            data-image="{{ artwork.image.url }}"
                            data-size="{{ artwork.size }}"
                            data-year_created="{{ artwork.year_created }}"
                            data-sold="{{ artwork.sold }}"
                            data-artwork-detail="{{ artwork.get_absolute_url }}"
                            onclick="showArtworkModal(this)">
                            <img src="{{ artwork.image.url }}" class="card-img-top" alt="{{ artwork.title }}">
                            <!-- Add overlay with title -->
                            <div class="overlay">
                                <p>{{ artwork.title }}</p>
                                <p id="no-results-message" style="display: none; color: red;">No results found.</p>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Modal for displaying artwork details -->
<div class="modal fade custom-artwork-modal" id="artworkModal" tabindex="-1" role="dialog" aria-labelledby="artworkModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="artworkModalLabel">Artwork Details</h5>
                <button id="exit-button" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="" id="artworkImage" class="img-fluid" alt="">
                        </div>
                        <div class="col-md-6" id="artwork_information">
                            <h3 id="artworkTitle"></h3>
                            <p class="artist-description"><span id="artworkArtist"></span></p>
                            <p class="medium-description"><span id="artworkMedium"></span></p>
                            <p class="size-description"><span id="artworkSize"></span></p>
                            <p class="year_created"><span id="artworkYear_created"></span></p>
                            <p class="sold"><span id="artworkSold"></span></p>
                            <a id="artworkDetailLink" class="btn btn-primary btn-lg btn-block" data-artwork-detail="">See More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript code -->
<script>
    // JavaScript to handle the pop-up
    function showArtworkModal(element) {
        const artist = element.getAttribute('data-artist');
        const title = element.getAttribute('data-title');
        const medium = element.getAttribute('data-medium');
        const image = element.getAttribute('data-image');
        const artworkDetailLink = element.getAttribute('data-artwork-detail');
        const size = element.getAttribute('data-size');
        const sold = element.getAttribute('data-sold');
        const year_created = element.getAttribute('data-year_created');

        document.getElementById('artworkArtist').textContent = artist;
        document.getElementById('artworkTitle').textContent = title;
        document.getElementById('artworkMedium').textContent = medium;
        document.getElementById('artworkSold').textContent = sold;
        document.getElementById('artworkSize').textContent = size;
        document.getElementById('artworkYear_created').textContent = year_created;
        document.getElementById('artworkImage').setAttribute('src', image);

        // Set the "See More" link to the slug-based URL
        document.getElementById('artworkDetailLink').setAttribute('href', artworkDetailLink);

        const userPosition = window.scrollY;
        localStorage.setItem('userPosition', userPosition);

        $('#artworkModal').modal('show');
    }

    // Handle "See More" button click
    document.getElementById('artworkDetailLink').addEventListener('click', function (event) {
        event.preventDefault();
        window.location.href = this.getAttribute('href');
    });

    // Handle the "exit button"
    document.getElementById('exit-button').addEventListener('click', function (event) {
        event.preventDefault();
        $('#artworkModal').modal('hide');
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
        const userPosition = localStorage.getItem('userPosition');
        if (userPosition) {
            window.scrollTo(0, userPosition);
            localStorage.removeItem('userPosition');
        } else {
            window.scrollTo(0, 0);
        }
    });

    document.getElementById('search-button').addEventListener('click', function () {
    const searchInput = document.getElementById('search-input').value.toLowerCase();
    const artworks = document.querySelectorAll('.art-card');
    let resultsFound = false;  

    artworks.forEach(function (artwork) {
        const title = artwork.querySelector('.art-thumbnail').getAttribute('data-title').toLowerCase();
        const medium = artwork.querySelector('.art-thumbnail').getAttribute('data-medium').toLowerCase();
        const artist = artwork.querySelector('.art-thumbnail').getAttribute('data-artist').toLowerCase();

        if (title.includes(searchInput) || medium.includes(searchInput) || artist.includes(searchInput)) {
            artwork.style.display = 'block';
            resultsFound = true;  
        } else {
            artwork.style.display = 'none';
        }
    });

    const noResultsMessage = document.getElementById('no-results-message');
    noResultsMessage.style.display = resultsFound ? 'none' : 'block';
});
</script>

{% endblock %}