{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="image-container">
    <div class="text-overlay">
        <h1 class="animate-from-left">Brushstrokes Online Gallery</h1>
        <h2 class="animate-from-left">
            Welcome to our interative site where we showcase some of our incredible Glasgow Artists!
        </h2>
        <p <h2 class="animate-from-left"></h2>Join our community and interact with the artists in residency! Click to see our online Gallery or come and see our NEW exhihition space.</p>
    </div>
    <img src="{% static 'index-image.jpg' %}" alt="Brushstrokes By Annie" id="main-image">
    <a href="{% url 'gallery' %}" class="btn btn-primary btn-lg rounded-pill" id="gallery-button">Go to Gallery</a>

</div>
{% endblock %}