{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="image-container">
    <div class="text-overlay">
        <h1 class="animate-from-left">Welcome to Brushstrokes</h1>
        <h2 class="animate-from-left">
            Showcasing our incredible local Glasgow Artists!
        </h2>
        <p <h2 class="animate-from-left"></h2>>Our new exhibition space is now open! Join our community and interact with the local artists! Click below to see our online Gallery.</p>
    </div>
    <img src="{% static 'media/index-image.jpg' %}" alt="Brushstrokes By Annie" id="main-image">
    <a href="{% url 'gallery' %}" class="btn btn-primary rounded-pill" id="gallery-button">Go to Gallery</a>
</div>
{% endblock %}